@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: "Poppins", system-ui;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 165px;
    background-color: #FAFAFA;
}
.header{
    width: 540px;
    text-align: center;
}
.header h1{
    font-size: 36px;
    letter-spacing: 0.25px;
}
.header-light-heading{
    color: #4D4F62;
    font-weight: 200;
}
.header-bold-heading{
    color: #4D4F62;
    font-weight: 600;
    margin-bottom: 15px;
}
.header-paragraph{
    color: #4D4F62;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.504px;
    opacity: 0.5;
}
.content{
    width: 1170px;
    height: 665px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.box{
    width: 370px;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
    padding: 35px ;
}
.content-center{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.box-heading{
    font-size: 20px;
    color: #4D4F62;
    font-weight: 600;
}
.box-paragraph{
    font-size: 13px;
    width: 90%;
    color: #4D4F62;
    opacity: 0.5;
    line-height: 23px;
    font-weight: 400;
}
.box-icon{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}
.box1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 4px;
    background-color: #44D3D2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}
.box2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 4px;
    background-color: #EA5454;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}
.box3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 4px;
    background-color: #FCAE4A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}
.box4::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 4px;
    background-color: #549EF2;;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}